main {
    width: 100%;
}

/* 메인_슬라이드 배너 시작 */
.slideBanner {
    width: 100%; height: 1000px;
}

.slideBanner .swiper-slide:nth-child(1) {
    background: url(../img/main_slide01.png) no-repeat;
    background-size: cover;
}

.swiper {
    width: 100%; height: 100%;
}