html,body {
    font-size: 20px;
}

/* 공통 영역 */
main {
    width: 100%;
}

.secPadding {
    padding-inline: 6.6rem;
    box-sizing: border-box;
}


.title {
    font-size: 2rem;
}

/* 메인_슬라이드 배너 시작====================================================== */
.slideBanner {
    width: 100%;
    position: relative;
}

.titleWrap {
    position: absolute; z-index: 3;
    top: calc(50% - 3rem);
    left: calc(50% - 9.5rem);
    color: #fff;
    text-align: center;
}
.mainTitle {
    font-size: 3rem;
}


.mainSlide {
    width: 100%;
}

/* 이미지 크기에 높이 맞추기 */
.swiper-slide {
    overflow: hidden;
}

.swiper-slide img {
    object-fit: contain;
    height: 100%;
}

.swiper {
    width: 100%; height: 100%;
}
/* 메인_슬라이드 배너 끝 ========================================== */

/* 브랜딩 문구 섹션 시작 =========================================== */
.branding {
    display: flex;
    justify-content: center; align-items: center;
    margin: 6rem 0;
}

.sectitle:nth-child(2) {
    margin: 0 0 2rem 1rem;
}

.branding .imgBox {
    width: 700px;
    height: 650px;
    position: relative;
    margin-left: 2rem;
}

.branding>.imgBox>img {
    width: 400px; height: 400px;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: absolute;
}

.brandImg01 {
    top: 0; left: 0;
}

.brandImg02 {
    bottom: 0; right: 0;
}

/* 브랜딩 문구 섹션 끝 =========================================== */

/* 우텐더 메뉴 섹션 시작 ========================================= */
.wootenderMenu {

}

.wootenderMenu .title {
    margin: 0.5rem 0 2rem 0;
    font-size: 2rem;
}

.wootenderMenu .fontAgainst {
    display: block;
    width: 100%;
    text-align: center;
}

/* 대표 메뉴 카드 */
.cards {
    width: 100%;
    display: flex;
    justify-content: center; align-items: center;
    margin-bottom: 6rem;
}

.card {
    transition: all .4s;
    width: calc(1200px / 3); height: 570px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    color: #fff;
    position: relative;
    padding: 1.2rem; box-sizing: border-box;
}

.card:hover {
    transform: translateY(-20px);
}

.card:nth-child(1) {
    background: url(../img/sirlion_bulgogi.png) no-repeat;
    background-size: cover;
}

.card:nth-child(2) {
    background: url(../img/korean_beef.png) no-repeat;
    background-size: cover;
}

.card:nth-child(3) {
    background: url(../img/ramen.png) no-repeat;
    background-size: cover;
}

.card:not(:last-child) {
    margin-right: 1.5rem;
}

.menuShortcut {
    width: fit-content;
    padding: 1rem 2rem; box-sizing: border-box;
    background: rgba(255,255,255,0.19);
    backdrop-filter: blur(15px);
    border-top-left-radius: 30px;
    position: absolute;
    bottom: 0; right: 0;
    cursor: pointer;
}

.menuShortcut:hover .shortcutIcon {
    margin-left: 1rem;
}

.menuCate {
    font-size: 1.2rem;
}

.shortcutIcon {
    transition: margin .4s;
    margin-left: 0.5rem;
    display: inline-block;
    width: 10px; height: 20px;
    background : url(../img/shortcut_icon.svg)
}

/* 우텐더 메뉴 섹션 끝 ========================================= */

/* 룸 프리뷰 섹션 ============================================= */
.preview .title {
    padding-left: 6.6rem;
    margin-bottom: 2rem;
}

.previewSwiper .swiper-slide{
    width: 1000px; height: 620px;
    border-radius: 30px;
    padding: 1.5rem; box-sizing: border-box;
}

.previewSwiper .swiper-slide:nth-child(1) {
    background: url(../img/roomPreview01.png) no-repeat;
    background-size: cover;
}

.previewSwiper .swiper-slide:nth-child(2) {
    background: url(../img/roomPreview02.png) no-repeat;
    background-size: cover;
}

.previewSwiper .swiper-slide:nth-child(3) {
    background: url(../img/roomPreview03.png) no-repeat;
    background-size: cover;
}

.previewSwiper .swiper-slide:nth-child(4) {
    background: url(../img/roomPreview01.png) no-repeat;
    background-size: cover;
}

.previewSwiper .swiper-slide:nth-child(4) {
    background: url(../img/roomPreview01.png) no-repeat;
    background-size: cover;
}

.previewSwiper .swiper-slide:nth-child(5) {
    background: url(../img/roomPreview01.png) no-repeat;
    background-size: cover;
}

.centerText {
    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 10rem);
    text-align: center;
    color: #fff;
}

.menuShortcut {
    color: #fff;
}
/* 룸 프리뷰 섹션 끝 ============================================= */

/* 이벤트 프리뷰 섹션 시작 ======================================== */
.eventPreview {
    margin-top: 4rem;
    text-align: right;
}

.eventPreview .mainText {
    margin: 1rem 0 0.5rem;
    font-size: 1.5rem;
}

mark {
    background-color: #F9EEA3;
}

.imgGrid {
    width: 100%;
    display: flex;
    justify-content: center; align-items: center;
    margin-top: 2rem;
}

.imgBox {
    width: 400px; height: 400px;
    position: relative;
    overflow: hidden;
}

.imgBox:not(:last-child) {
    margin-right: 1rem;
}

.reservationIcon {
    display: inline-block;
    width: 20px; height: 20px;
    background: url(../img/fi-rs-calendar.svg) no-repeat 50% 50%;
    background-size: contain;
    margin-right: 0.5rem;
}

.shortcutBtn {
    width: 100%;
    position: absolute;
    bottom: -5rem;
    color: #fff;
    background: rgba(255,255,255,0.19);
    backdrop-filter: blur(15px);
    padding: 1.5rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: all .4s;
}

/* 이미지 hover했을 때 => shortcutBtn 올라오기 */
.imgBox img {
    transition: all .4s;
}

.eventPreview .imgBox:hover img {
    scale: 1.2;
}

.imgBox:hover .shortcutBtn {
    bottom: 0;
}
/* 이벤트 프리뷰 섹션 끝 ======================================== */

.contact {
    position: relative;
}

.mapInfo {
    width: 660px; height: 480px;
    position: absolute;
    top: calc(50% - (480px/2));
    right: calc(30% - (660px/2));
    padding: 1.5rem; box-sizing: border-box;
    box-shadow: 0 2px 20px rgba(0,0,0,0.19);
    font-size: 0.95rem;
}

.closeBtn {
    display: block;
    width: 25px; height: 25px;
    background: url(../img/closeBtn_gold.svg) no-repeat;
    background-size: cover;
    position: absolute;
    top: 1.5rem; right: 1.5rem;
    cursor: pointer;
}

.info {
    padding-block: 1rem;
}

.mapInfo hr {
    border: 1px solid #B3A97F;
}

.mapInfo h4 {
    padding-block: 1rem; box-sizing: border-box;
}

.reservationBtn {
    display: inline-block;
    padding: 0.5rem 1rem; box-sizing: border-box;
    background-color: #B3A97F;
    color: #fff;
    position: absolute;
    bottom: 2rem; right: 1.5rem;
}


/* 푸터 */
footer {
    background-color: #333;
    padding-block: 1rem;
    display: flex;
    justify-content: space-around; align-items: center;
    font-size: 0.9rem;
}

.botLogo {
    display: block;
}

.bottomLogo {
    width: 240px;

}

.footText {
    display: flex;
    flex-direction: column;
}

.copyright {
    color: #635D44;
}

/* ---- 아이콘 메뉴 + 카피라이트 정렬 잡기---- */
footer .outMenu {
    justify-content: right;
    margin-bottom: 1rem;
}

footer .outMenu a:not(:last-child) {
    margin-right: 2rem;
}
